# Ignore yocto files except custom meta layer and build configs
/yocto/*

!/yocto/sources/
/yocto/sources/*
!/yocto/sources/meta-vit-fpga/

!/yocto/build/
/yocto/build/*
!/yocto/build/conf
/yocto/build/conf/*
!/yocto/build/conf/local.conf
!/yocto/build/conf/bblayers.conf


# Ignore vivado project & build files and stacktraces
/vivado/project/
/vivado/build/
*.pid


# Ignore devicetree build files
/devicetree/

# Ignore user-defined local mise config
.mise.local.toml
mise.local.toml
