# Ignore yocto files except custom meta layer
/yocto/*
!/yocto/sources/
/yocto/sources/*
!/yocto/sources/meta-vit-fpga/

# Ignore vivado project & build files and stacktraces
/vivado/project/
/vivado/build/
*.pid


# Ignore devicetree build files
/devicetree/

# Ignore user-defined local mise config
.mise.local.toml
mise.local.toml
